Copy
/* Default styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#imageContainer > * {
  margin-bottom: 20px;
  max-width: 100%;
}

#imageContainer img {
  height: auto;
  width: auto;
  max-height: calc(100vh - 40px);
  object-fit: contain;
}

#imageContainer audio {
  width: 100%;
  max-width: 100%;
}

/* Media queries for horizontal orientation */
@media screen and (orientation: landscape) {
  #imageContainer {
    flex-direction: row;
    overflow: auto;
  }

  #imageContainer > * {
    margin-right: 20px;
    margin-bottom: 0;
  }

  #imageContainer img {
    max-height: 100%;
    max-width: calc(50% - 10px);
  }

  #imageContainer audio {
    max-width: calc(50% - 10px);
  }
}

/* Media queries for vertical orientation */
@media screen and (orientation: portrait) {
  #imageContainer {
    flex-direction: column;
    overflow: hidden;
  }

  #imageContainer > * {
    margin-right: 0;
    margin-bottom: 20px;
  }
}





















/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  #imageContainer > * {
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  #imageContainer img {
    height: auto;
    width: auto;
    max-height: calc(100vh - 40px);
    object-fit: contain;
  }
  
  #imageContainer audio {
    width: 100%;
    max-width: 100%;
  } */